<h1>admin</h1>
<div class="row">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home"
        role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
        role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages"
        role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
        role="tab" aria-controls="settings">Settings</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
        role="tab" aria-controls="settings">Settings</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
        role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-9">
    <div>
      <a class="btn btn-danger mb-3" href="/admin/restaurant/create">新增商品</a>
    </div>
    <div class="list-group">
      {{#each products }}
      <div class="row">
        <a href="/admin/items/{{this.id}}" class="list-group-item list-group-item-action col-10">
          <h5>{{this.name}}</h5>
          <h4>{{this.Category.name}}</h4>
        </a>
        <div class="col-1 ">
          <a class="btn btn-info" href="/admin/restaurant/{{this.id}}/edit">編輯</a>
        </div>
        <div class="col-1 ">
          <a id="delete" class="btn btn-danger" href="{{this.id}}">刪除</a>
        </div>

      </div>
      {{/each}}
      {{!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> --}}
    </div>
  </div>
</div>