<h1>done</h1>
<div class="card">
  <div class="card-header">
    <h2 class="card-header text-success"><i class="fas fa-check-circle"></i>付款成功</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col ">
        <strong>
          <h5>訂單資訊</h5>
        </strong>
        訂單編號:{{order.id}}<br>
        訂單日期:{{order.createdAt}}
      </div>
      <div class="col ">
        <h5>顧客資訊</h5>
        姓名:{{user.name}}<br>
        電話:{{user.telephone}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h5>送貨資訊</h5>
        收件人姓名:{{order.receiver}}<br>
        收件人電話:{{order.telephone}}<br>
        收件人地址:{{order.address}}<br>
        送貨方式: 宅配到府<br>
        送貨狀態:{{order.Transport.name}}
      </div>
      <div class="col">
        <h5>付款資訊</h5>
        付款金額:{{order.totalPrice}}<br>
        付款狀態:{{order.orderStatus}}
      </div>
    </div>
  </div>
</div>